@page "/MedicalFile/{MedicalFileId}"
@using rskpBlazor.Services


@if (CurrentMedicalFile != null)
{

    <div class="doctorBlock p-3" align="center">
        <div class="card w-50">
             <img src="/Images/bgim.PNG" class="card-img-top" alt="...">

                     <div class="card-body">
                             
                        <h2 class="card-title">Медицинская карта</h2>
                        <h5 class="card-text">@CurrentMedicalFile.Patient.FullName</h5>
                        <p class="card-text">Дата создания карты: @CurrentMedicalFile.StartDate</p>

                     </div>
        </div>
    </div>



@*    <div class="doctorBlock">
        <div class="field">
            <label class="label">Идентификатор</label> <input class="form-control valueField" type="text" value="@CurrentMedicalFile.Id" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Имя</label> <input class="form-control valueField" type="text" value="@CurrentMedicalFile.Patient.FullName" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="field">
            <label class="label">Дата создания</label> <input class="form-control valueField" type="text" value="@CurrentMedicalFile.StartDate" aria-label="Disabled input example" disabled readonly>
        </div>
        
    </div>*@


   @* <table class="table">
        <thead>
            <th>id</th>
            <th>Имя Пациента</th>
            <th>Дата начала обслуживания</th>
        </thead>
        <tbody>
                <tr>
                
            </tr>
            
            
    </tbody>
</table> *@
    
    
}


@code {
	    [Parameter]
    public string MedicalFileId { get; set; }
    public List<Data.Models.MedicalFile> MedicalFiles { get; set; }
    public Data.Models.MedicalFile? CurrentMedicalFile { get; set; }
    [Inject]
    private IMedicalFileProvider medicalFilesProvider { get; set; }
    protected async override Task OnInitializedAsync()
    {
        CurrentMedicalFile = await medicalFilesProvider.GetOne(Int32.Parse(MedicalFileId));
        MedicalFiles = await medicalFilesProvider.GetAll();
        Console.WriteLine(CurrentMedicalFile);
        base.OnInitialized();
    }

}